.HeaderContainer {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 40%;
    box-sizing: border-box;
}